.page_container{
    width: 100%;
    height: 100vh;
    background: #020c31;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.page_container i{
    font-size: 500px;
    color: #132258;
    position: absolute;
    top: -65px;
    left: -100px;
}
.page_container h1{
    font-size: 100px;
    color: #ffffff;
    text-transform: uppercase;
}
.page_container p{
    font-size: 14;
    color: #ffffff;
    text-transform: uppercase;
}